[submodule "libraries/LoveFrames"]
	path = libraries/LoveFrames
	url = git@github.com:linux-man/LoveFrames.git
[submodule "libraries/middleclass"]
	path = libraries/middleclass
	url = git@github.com:kikito/middleclass.git
[submodule "libraries/hump"]
	path = libraries/hump
	url = git@github.com:vrld/hump.git
[submodule "libraries/Editgrid"]
	path = libraries/Editgrid
	url = git@github.com:bakpakin/Editgrid.git
[submodule "libraries/Jumper"]
	path = libraries/Jumper
	url = git@github.com:Yonaba/Jumper.git
[submodule "libraries/Binary-Heaps"]
	path = libraries/Binary-Heaps
	url = git@github.com:Yonaba/Binary-Heaps.git
