[submodule "libraries/LoveFrames"]
	path = libraries/LoveFrames
	url = git@github.com:linux-man/LoveFrames.git
[submodule "libraries/middleclass"]
	path = libraries/middleclass
	url = git@github.com:kikito/middleclass.git
